[submodule "Source/Runtime/ThirdParty/glfw"]
	path = Source/Runtime/ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
	branch = latest
[submodule "Source/Runtime/ThirdParty/imgui"]
	path = Source/Runtime/ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Source/Runtime/ThirdParty/entt"]
	path = Source/Runtime/ThirdParty/entt
	url = https://github.com/skypjack/entt.git
[submodule "Source/Runtime/ThirdParty/JoltPhysics"]
	path = Source/Runtime/ThirdParty/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "Source/Runtime/ThirdParty/imgui-node-editor"]
	path = Source/Runtime/ThirdParty/imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor.git
[submodule "Source/Runtime/ThirdParty/glm"]
	path = Source/Runtime/ThirdParty/glm
	url = https://github.com/g-truc/glm.git
[submodule "Source/Runtime/ThirdParty/Vulkan-Headers"]
	path = Source/Runtime/ThirdParty/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "Source/Runtime/ThirdParty/openssl-cmake"]
	path = Source/Runtime/ThirdParty/openssl-cmake
	url = https://github.com/janbar/openssl-cmake.git
